/* Shared styles */
.display-flex{
    display: flex;
}
.font-dark{
    color: #8987A1;
}

.font-color-orange{
    color: #E95A08;
}

/* common style */
body{
    margin: 1rem 7rem;
}


.NavbarSection{

    justify-content: space-between;
    align-items: center;
    
}
.nav-links{

    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.nav-link img {
    width: 18px;       /* or 20px */
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Banner section  */
.banner{
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.banner-description h1{
    font-size: 3rem;
}

.banner-image img{
    width: 30rem;
    height: 20rem;
}




























/* For mobile device */


@media screen and (max-width: 600px) {
    body{
        margin: 1rem;
    }

    .NavbarSection{
        justify-content: space-between;
        align-items: center;
        gap: 100px;
    }
    .nav-item {
        display: none;
      }
    
      /* Show only the cart item */
      .cart-item {
        display: block !important; /* Force it to show */
      }
    
      .cart-item img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
       
      }

      /* banner section */

      .banner{
        flex-direction: column;
        text-align: center;
        
      }
      .banner-image{
        margin: 2rem 1rem;
        order: -1;
      }

      .banner-description h1{
        font-size: 1.5rem;
        text-align: left;
     }  
     .banner-description p{
      
        text-align: left;
    }
    
}